@import url("https://fonts.cdnfonts.com/css/schabo");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

:root {
  --base-100: #fcfcfc;
  --base-200: #3f3f3f;
  --base-300: #0f0f0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--base-200);
  color: var(--base-100);
}

h1 {
  text-transform: uppercase;
  font-family: "Schabo", sans-serif;
  font-size: clamp(6rem, 15vw, 12rem);
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  & img {
    width: 100%;
    height: 100%;
  }
}

.section-header {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.transition-grid {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.transition-block {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: var(--base-300);
  opacity: 0;
}

nav {
  position: fixed;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.25rem;
  z-index: 2;

  & a {
    background-color: var(--base-300);
    color: var(--base-100);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s ease;
    }
  }
}
